{% load static %}
<!DOCTYPE html>
<html lang="hr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121453555-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121453555-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="prvi.hr - sve vijesti na jednom mjestu! Vaš prvi korak u online svijet sada je lakši nego ikada prije!">
    <meta property="og:locale" content="hr_HR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PRVI.HR">
    <meta property="og:description" content="sve vijesti na jednom mjestu! Vaš prvi korak u online svijet sada je lakši nego ikada prije!">
    <meta property="og:url" content="https://prvi.hr/">
    <meta property="og:site_name" content="prvi.hr">
    <meta property="og:image" content="{% static 'frontend/assets/images/PRVI-preloader.png' %}">
    <title>PRVI.HR - {% block title %} {% endblock %}</title>
    <!-- <meta http-equiv="refresh" content="180"> -->
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/fontawesome.min.css">
    {% block static %}
    {% endblock %}
</head>
<body>
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
           <div class="awe-loading-icon">
              <img src="{% static 'frontend/assets/images/PRVI-preloader.png' %}" alt="images">
           </div>
           <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
           </div>
        </div>
     </div>
     <div id="box-user" style="display:none;">
        <iframe width="980" src="#"></iframe>
    </div>
    {% block body %}

    {% endblock %}
    
<div id="back-to-top">
    <i class="fa fa-long-arrow-up"></i>
</div>
</body>
</html>