{% extends 'frontend/base.html' %}

{% load static %}

{% block title %} {{ main_item }} {% endblock %}

{% block static %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/owl-slider.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/custombox.min.css' %}"/>

<link rel="shortcut icon" href="{% static 'frontend/assets/images/favicon.png' %}" />

{% endblock %}


{% block body %}
<div class="wrappage">
    {% include 'frontend/header.html' %}
    <div class="home2-head box slide-owl-mobile nav-ver5">

    </div>



    <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        <div class="technnology box space-30">
               
    </div>
    <div class="mid_button">
        <button id="more_btn" onclick="getByCategories()">More</button>
    </div>
</div>
<div class="col-md-4">
    <aside class="widget">
        <div class="banner">
            <img class="img-responsive" src="{% static 'frontend/assets/images/widget-banner.jpg' %}" alt="banner">
        </div>
    </aside>
</div>
</div>
</div>

    {% include 'frontend/footer.html' %}

</div>

<script>
    page_no = 1
    category = '{{ main_item }}'
    function getByCategories() {
    fetch(`/rss/newsCategory/${category}`, {
        method : "POST",
        body : JSON.stringify({
            "page_no" : page_no
        })
    })
        .then(response => response.json())
        .then(data => {
            
            if (!data['next']) {
                document.querySelector("#more_btn").style.display = 'none';
            }
            console.log(page_no)
            info = data['feed']
            for ( var i = 0; i < info.length; i ++) { 
            if (page_no == 1 && i < 3) {
                
                home_head = document.querySelector(".home2-head")
                home_head.innerHTML += `
                    <div class="col-md-4 col-sm-4">
                    <div class="post-item ver1 cat-3 overlay">
                        <a class="images" href="#" title="images"><img style="    height: 310px !important; width: 100%;" class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                        <div class="text">
                            <h2><a href="${info[i]['link']}" title="title">${info[i]['title']}</a></h2>
                            <p></p>
                            <div class="tag">
                                <span class="lable">${info[i]['category']}</span>
                                <p class="date">${info[i]['source']} prije  ${info[i]['pub_date']}</p>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End item -->
                </div>
            ` 
            }
            else { 
                page_no += 1
                home_head = document.querySelector(".technnology")
              
                home_head.innerHTML += `
                <div class="post-item ver2" style="height:200px; overflow : hidden;">
                        <a class="images" href="${info[i]['link']}" title="images"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                        <div class="text">
                            <h2><a href="${info[i]['link']}" title="title">${info[i]['title']}</a></h2>
                            <div class="tag">
                                <p class="date"> ${info[i]['source']} prije ${info[i]['pub_date']}</p>
                                
                            </div>
                            <a class="read-more" href="${info[i]['link']}" title="readMore">Read More</a>
                        </div>
                    </div>
                `
                }
                }
                page_no += 1
        })
    }
    getByCategories()
</script>

<script type="text/javascript" src="{% static 'frontend/assets/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/engo-plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/custombox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/legacy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/store.js' %}"></script>

{% endblock %}