{% extends 'frontend/base.html' %}
{% load static %}

{% block title %} {{ main_item }} {% endblock %}

{% block body %}
    <div id="mvp-fly-wrap">
        <div id="mvp-fly-menu-top" class="left relative">
            <div class="mvp-fly-top-out left relative">
                <div class="mvp-fly-top-in">
                    <div id="mvp-fly-logo" class="left relative">
                        <a href="#"><img src="{% static 'frontend/assets/images/logo/PRVI-preloader-new.png' %}" alt="PRVI.HR"
                                data-rjs="2" /></a>
                    </div>
                    <!--mvp-fly-logo-->
                </div>
                <!--mvp-fly-top-in-->
                <div class="mvp-fly-but-wrap mvp-fly-but-menu mvp-fly-but-click">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!--mvp-fly-but-wrap-->
            </div>
            <!--mvp-fly-top-out-->
        </div>
        <!--mvp-fly-menu-top-->
        <div id="mvp-fly-menu-wrap">
            {% include 'frontend/nav.html' %}
        </div>
        <!--mvp-fly-menu-wrap-->
   
        <!--mvp-fly-soc-wrap-->
    </div>
    <!--mvp-fly-wrap-->
    <div id="mvp-site" class="left relative">
        <div id="mvp-search-wrap">
            <div id="mvp-search-box">
                <form method="get" id="searchform" action="#">
                    <input type="text" name="s" id="s" value="Search"
                        onfocus='if (this.value == "Search") { this.value = ""; }'
                        onblur='if (this.value == "") { this.value = "Search"; }' />
                    <input type="hidden" id="searchsubmit" value="Search" />
                </form>
            </div>
            <!--mvp-search-box-->
            <div class="mvp-search-but-wrap mvp-search-click">
                <span></span>
                <span></span>
            </div>
            <!--mvp-search-but-wrap-->
        </div>
        <!--mvp-search-wrap-->
        <div id="mvp-site-wall" class="left relative">
            {% include 'frontend/top_ad.html' %}
            <!--mvp-leader-wrap-->
            <div id="mvp-site-main" class="left relative">
                {% include 'frontend/header.html' %}
                <!--mvp-main-head-wrap-->
                <div id="mvp-main-body-wrap" class="left relative">
                    <div class="mvp-main-box">
                        <div class="my-container">
                            {% include 'frontend/slider.html' %}
                            <!--mvp-feat5-wrap-->
                        </div>

                        <section id="mvp_home_feat1_widget-4"
                            class="mvp-widget-home left relative mvp_home_feat1_widget">
                            <div class="mvp-main-box">
                                <div class="mvp-widget-home-head">
                                    <h4 class="mvp-widget-home-title"><span class="mvp-widget-home-title">{{ main_item }}</span>
                                    </h4>
                                </div>
                                <div class="mvp-widget-feat1-wrap left relative">
                                    <!--mvp-widget-feat1-cont-->
                                    <div id="home2-head" class="mvp-widget-feat1-cont left relative my-flex">
                                      
                                    </div>
                                    <!--mvp-widget-feat1-cont-->
                                </div>
                                <!--mvp-widget-feat1-wrap-->

                            </div>
                        </section>
                    </div>
                    <section id="mvp_ad_widget-9" class="mvp-widget-home left relative mvp_ad_widget">
                        <div class="mvp-main-box">
                            <div class="mvp-widget-ad left relative">
                                <span class="mvp-ad-label">Advertisement</span>
                                {% if options.bill_board %}
                                    {{ options.bill_board | safe }}
                                {% else %}
                                <a href="#">
                                    <img class="mvp-leader1"
                                        src="https://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/zox-leader.png" /><img
                                        class="mvp-leader2"
                                        src="https://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/zox728.png" /><img
                                        class="mvp-leader3"
                                        src="https://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/zox360.png" /></a>
                                {% endif %}
                            </div>
                            <!--mvp-widget-ad-->
                        </div>
                    </section>
                    <!--mvp-home-widget-wrap-->
                    <div class="mvp-main-blog-wrap left relative">
                        <div class="mvp-main-box">
                            <div class="mvp-main-blog-cont left relative">
                                <div class="mvp-widget-home-head">
                                    <h4 class="mvp-widget-home-title">
                                        <span class="mvp-widget-home-title">Ostale {{ main_item }}</span>
                                    </h4>
                                </div>
                                <!--mvp-widget-home-head-->
                                <div class="mvp-main-blog-out left relative">
                                    <div class="mvp-main-blog-in">
                                        <div class="mvp-main-blog-body left relative">
                                            <ul id="home-bottom" class="mvp-blog-story-list left relative infinite-content">
                                                
                                                
                                            </ul>
                                            <div class="mvp-inf-more-wrap left relative">
                                                <a  id="more_btn" style="cursor: pointer;" class="mvp-inf-more-but"onclick="getByCategories()">Učitaj više</a>
                                               
                                                <!--mvp-nav-links-->
                                            </div>
                                            <!--mvp-inf-more-wrap-->
                                        </div>
                                        <!--mvp-main-blog-body-->
                                    </div>
                                    <!--mvp-main-blog-in-->
                                    <div id="mvp-side-wrap" class="left relative theiaStickySidebar">
                                        <section id="mvp_ad_widget-6" class="mvp-side-widget mvp_ad_widget">
                                            <div class="mvp-widget-ad left relative">
                                                <span class="mvp-ad-label">Advertisement</span>
                                                {% if options.category_sideAD %}
                                                    {{ options.category_sideAD | safe }}
                                                {% else %}
                                                <img
                                                src="https://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/zox300.png" />
                                                {% endif %}
                                            </div> <br>
                                            <div class="mvp-widget-ad left relative" style="padding-top: 10px">
                                                <span class="mvp-ad-label">Advertisement</span>
                                                {% if options.sidebarAD %}
                                                    {{ options.sidebarAD | safe }}
                                                {% else %}
                                                
                                                <img src="https://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/zox300.png" />
                                                {% endif %}
                                            </div>
                                            <!--mvp-widget-ad-->
                                        </section>
                           
                                    </div>
                                    <!--mvp-side-wrap-->
                                </div>
                                <!--mvp-mmain-blog-out-->
                            </div>
                            <!--mvp-main-blog-cont-->
                        </div>
                        <!--mvp-main-box-->
                    </div>
                    <!--mvp-main-blog-wrap-->
                </div>
                <!--mvp-main-body-wrap-->
             {% include 'frontend/footer.html' %}
            </div>
            <!--mvp-site-main-->
        </div>
        <!--mvp-site-wall-->
    </div>
    <!--mvp-site-->
    <div class="mvp-fly-top back-to-top">
        <i class="fa fa-angle-up fa-3"></i>
    </div>
    <!--mvp-fly-top-->
    <div class="mvp-fly-fade mvp-fly-but-click">
    </div>
    <!--mvp-fly-fade-->
    <div data-theiaStickySidebar-sidebarSelector='"#mvp-side-wrap,.mvp-post-soc-wrap,.mvp-flex-side-wrap,.mvp-alp-side"'
        data-theiaStickySidebar-options='{"containerSelector":"","additionalMarginTop":120,"additionalMarginBottom":20,"updateSidebarHeight":false,"minWidth":1004,"sidebarBehavior":"modern","disableOnResponsiveLayouts":true}'>
    </div>
    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();
    </script>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
		         It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
		            PhotoSwipe keeps only 3 of them in the DOM to save memory.
		            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader-active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
<script>
    category = '{{ main_item }}'
</script>
<script src="{% static 'frontend/fetch-category.js' %}"></script>
{% endblock %}