{% load static %}

<footer id="footer" class="footer-v1">         
    <div class="container">
      <div class="row">
          <div class="col-md-3">
          {{ footer.section_one | safe }}
        </div>
          <div class="col-md-6">
            {{ footer.section_two | safe }}
          </div>
          <div class="col-md-3">
              <div class="widget categories">
                  <h3 class="widget-title">CATEGORIES</h3>
                  <ul>
  
                      <li><a href="{% url 'category' 'Vijesti' %}" title="Vijesti">Vijesti</a><span class="count" id="vijesti_count"></span></li>
                      <li><a href="{% url 'category' 'sport' %}" title="Sports">Sports</a><span class="count" id="sport_count"></span></li>
                      <li><a href="{% url 'category' 'lifestyle' %}" title="LifeStyle">Lifestyle</a><span class="count" id="lifestyle_count"></span></li>
                      <li><a href="{% url 'category' 'Biznis' %}" title="Biznis">Biznis</a><span class="count" id="biznis_count"></span></li>
                      <li><a href="{% url 'category' 'Tehnologija' %}" title="Tehnologija">Tehnologija</a><span class="count" id="Tehnologija_count"></span></li>
                  </ul>
              </div>
          </div>
     
      </div>
      <!-- End row -->
    </div>
    <!-- End container -->
    <div style="text-align: center;" class="footer-bottom">
      <div class="container">
          <p>Copyright &copy; 2021 <a id="no-style-link" style="color: #fff;" href="{% url 'index' %}" title="Prvi.hr">Prvi.hr</a> - All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script>
      function getCount(category, div_id) {
   
          fetch(`/rss/count/${category}`)
          .then(response => response.json())
          .then(data => {
               document.querySelector(`${div_id}`).innerHTML = (data['total'])
            })

      }
    getCount("Biznis", "#biznis_count")
    getCount("Lifestyle", "#lifestyle_count")
    getCount("Vijesti", "#vijesti_count")
    getCount("Sport", "#sport_count")
    getCount("Tehnologija", "#Tehnologija_count")
  </script>
  