{% load static %}
<header style="z-index: 55;" id="header" class="header-v2">
  
    <div class="header-top">
            <div class="container">
            <div class="box float-left">
                <p class="icon-menu-mobile"><i class="fas fa-bars" ></i></p>
                <div class="logo"><a href="{% url 'index' %}" title="Uno">
                <img id="head-img" src="{% static 'frontend/assets/images/PRVI-preloader.png' %}" alt="images">
                </a></div>
                <div class="logo-mobile"><a href="{% url 'index' %}" title="Xanadu"><img src="{% static 'frontend/assets/images/PRVI-preloader.png' %}" alt="Xanadu-Logo"></a></div>

                <div class="box-right">
                    <div class="social">
                        <a href="#" title="title"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="title"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="title"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="title"><i class="fa fa-rss"></i></a>
                    </div>
                    <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg" style="display:none;">
                        <i class="icon"></i>
                    </div>
                </div>
            </div>                
            </div>
            <!-- End container -->
        </div>
        <!-- End header-top -->
        <div class="container">
        <nav class="mega-menu">
        <!-- Brand and toggle get grouped for better mobile display -->
          <ul class="nav navbar-nav" id="navbar">
            <li class="level1 hover-menu" id="home-active" ><a  href="{% url 'index' %}" title="Home">Home</a>
    
            </li>
            <li class="level1 hover-menu" id="vijesti-active">
                <a href="{% url 'category' 'Vijesti' %}"  title="Vijesti">Vijesti</a>
            </li>
            <li class="level1 hover-menu" id="biznis-active">
                <a href="{% url 'category' 'Biznis' %}"  title="Biznis">Biznis</a>
            </li>
            <li class="level1 hover-menu" id="lifestyle-active">
                <a href="{% url 'category' 'Lifestyle' %}" title="Lifestyle">Lifestyle</a>
            </li>
            <li class="level1 hover-menu" id="auti-active">
                <a href="{% url 'category' 'Auti' %}"  title="Auti">Auti</a>
            </li>
            <li class="level1 hover-menu" id="sports-active">
                <a href="{% url 'category' 'sport' %}"  title="SPORTS">SPORTS</a>
            </li>
            <li class="level1 hover-menu" id="prvi-active">
                <a href="{% url 'source' 'prvi' %}"  title="PRVI">PRVI</a>
            </li>
            
            <li class="level1 hover-menu" id="more-active"> <a href="#" title="More">More</a>
                <ul class="menu-level-1 list-menu">
                    <li class="level2"><a href="{% url 'category' 'Vijesti' %}" title="Vijesti" target="_blank">Vijesti</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="{% url 'category' 'Dalmacija' %}" title="Dalmacija" target="_blank">Dalmacija</a></li>
                            <li class="level3"><a href="{% url 'category' 'Slavonija' %}" title="Slavonija" target="_blank">Slavonija</a></li>
                            <li class="level3"><a href="{% url 'category' 'Istra i Kvarner' %}" title="Istra i Kvarner" target="_blank">Istra i Kvarner</a></li>
                            <li class="level3"><a href="{% url 'category' 'Kontinentalna' %}" title="Kontinentalna" target="_blank">Kontinentalna</a></li>
                            <li class="level3"><a href="{% url 'category' 'Lika i gorski kotar' %}" title="Lika i gorski kotar" target="_blank">Lika i gorski kotar</a></li>
                            <li class="level3"><a href="{% url 'category' 'Zagreb' %}" title="Zagreb" target="_blank">Zagreb</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="{% url 'category' 'Lifestyle' %}" title="LifeStyle" target="_blank">LifeStyle</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="{% url 'category' 'Moda i ljepota' %}" title="Moda i ljepota" target="_blank">Moda i ljepota</a></li>
                            <li class="level3"><a href="{% url 'category' 'Zdravlje' %}" title="Zdravlje" target="_blank">Zdravlje</a></li>
                            <li class="level3"><a href="{% url 'category' 'Mama' %}" title="Mama" target="_blank">Mama</a></li>
                            <li class="level3"><a href="{% url 'category' 'Kuharica' %}" title="Kuharica" target="_blank">Kuharica</a></li>
                            <li class="level3"><a href="{% url 'category' 'Kućni ljubimci' %}" title="Kućni ljubimci" target="_blank">Kućni ljubimci</a></li>
                            <li class="level3"><a href="{% url 'category' 'Putovanja' %}" title="Putovanja" target="_blank">Putovanja</a></li>
                            <li class="level3"><a href="{% url 'category' 'Dom i dizajn' %}" title="Dom i dizajn" target="_blank">Dom i dizajn</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="{% url 'category' 'TEHNOLOGIJA' %}" title="TEHNOLOGIJA" target="_blank">TEHNOLOGIJA</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="{% url 'category' 'Znanost' %}" title="Znanost" target="_blank">Znanost</a></li>
                            <li class="level3"><a href="{% url 'category' 'Igre' %}" title="Igre" target="_blank">Igre</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="{% url 'category' 'Sport' %}" title="Sport" target="_blank">Sport</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="{% url 'category' 'Nogomet' %}" title="Nogomet" target="_blank">Nogomet</a></li>
                            <li class="level3"><a href="{% url 'category' 'Košarka' %}" title="Košarka" target="_blank">Košarka</a></li>
                            <li class="level3"><a href="{% url 'category' 'Tenis' %}" title="Tenis" target="_blank">Tenis</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="{% url 'category' 'Sex' %}" title="SEX" target="_blank">SEX</a></li>
                    <li class="level2"><a href="{% url 'category' 'AUTI' %}" title="AUTI" target="_blank">AUTI</a></li>
                    <li class="level2"><a href="{% url 'category' 'BIZNIS' %}" title="BIZNIS" target="_blank">BIZNIS</a></li>
                </li>
                <li class="level2"><a href="{% url 'category' 'SHOWBIZ' %}" title="SHOWBIZ" target="_blank">Showbiz</a>
                    <ul class="menu-level-2">
                        <li class="level3"><a href="{% url 'category' 'Film' %}" title="Film" target="_blank">Film</a></li>
                        <li class="level3"><a href="{% url 'category' 'Glazba' %}" title="Košarka" target="_blank">Glazba</a></li>
                        <li class="level3"><a href="{% url 'category' 'Kultura' %}" title="Kultura" target="_blank">Kultura</a></li>
                    </ul>
                </li>
                
                </ul>
            </li>

          </ul>
        </nav>
        </div>
        <!-- End megamenu -->
</header>

<script>
    path = window.location.pathname
    console.log(path)
    if (path == "/") {
        console.log("tet")
        document.querySelector("#home-active").classList.add("active")
    }
    else if(path == "/category/Vijesti") {
        document.querySelector("#vijesti-active").classList.add("active")
    }
    else if(path == "/category/Biznis") {
        document.querySelector("#biznis-active").classList.add("active")
    }
    else if(path == "/category/Lifestyle") {
        document.querySelector("#lifestyle-active").classList.add("active")
    }
    else if(path == "/category/Auti") {
        document.querySelector("#auti-active").classList.add("active")
    }
    else if(path == "/category/sport") {
        document.querySelector("#sports-active").classList.add("active")
    }
    else if(path == "/source/prvi") {
        document.querySelector("#prvi-active").classList.add("active")
    }
    else {
        document.querySelector("#more-active").classList.add("active")

    }
</script>