{% load static %}
<header id="mvp-main-head-wrap" class="left relative">

    <nav id="mvp-main-nav-wrap" class="left relative">
        <div id="mvp-main-nav-top" class="left relative">
            <div class="mvp-main-box">
                <div id="mvp-nav-top-wrap" class="left relative">
                    <div class="mvp-nav-top-right-out left relative">
                        <div class="mvp-nav-top-right-in">
                            <div class="mvp-nav-top-cont left relative">
                                <div class="mvp-nav-top-left-out relative">
                                    <div class="mvp-nav-top-left">
                                    
                                        <!--mvp-nav-soc-wrap-->
                                        <div class="mvp-fly-but-wrap mvp-fly-but-click left relative">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <!--mvp-fly-but-wrap-->
                                    </div>
                                    <!--mvp-nav-top-left-->
                                    <div class="mvp-nav-top-left-in">
                                        <div class="mvp-nav-top-mid left relative" itemscope
                                            itemtype="http://schema.org/Organization">
                                            <a class="mvp-nav-logo-reg" itemprop="url" href="#"><img
                                                    itemprop="logo"
                                                    src="{% static 'frontend/assets/images/logo/PRVI-preloader-new.png' %}"
                                                    alt="PRVI.HR" data-rjs="2" /></a>
                                            <a class="mvp-nav-logo-small" href="#"><img
                                                    src="{% static 'frontend/assets/images/logo/PRVI-preloader-new.png' %}"
                                                    alt="PRVI.HR" data-rjs="2" /></a>
                                            <h2 class="mvp-logo-title">PRVI.HR</h2>
                                        </div>
                                        <!--mvp-nav-top-mid-->
                                    </div>
                                    <!--mvp-nav-top-left-in-->
                                </div>
                                <!--mvp-nav-top-left-out-->
                            </div>
                            <!--mvp-nav-top-cont-->
                        </div>
                        <!--mvp-nav-top-right-in-->
                        <div class="mvp-nav-top-right">
                      
                            <!--mvp-woo-cart-wrap-->
                            <span class="mvp-nav-search-but fa fa-search fa-2 mvp-search-click"></span>
                        </div>
                        <!--mvp-nav-top-right-->
                    </div>
                    <!--mvp-nav-top-right-out-->
                </div>
                <!--mvp-nav-top-wrap-->
            </div>
            <!--mvp-main-box-->
        </div>
        <!--mvp-main-nav-top-->
        <div id="mvp-main-nav-bot" class="left relative">
            <div id="mvp-main-nav-bot-cont" class="left">
                <div class="mvp-main-box">
                    <div id="mvp-nav-bot-wrap" class="left">
                        <div class="mvp-nav-bot-right-out left">
                            <div class="mvp-nav-bot-right-in">
                                <div class="mvp-nav-bot-cont left">
                                    <div class="mvp-nav-bot-left-out">
                                        <div class="mvp-nav-bot-left left relative">
                                            <div class="mvp-fly-but-wrap mvp-fly-but-click left relative">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <!--mvp-fly-but-wrap-->
                                        </div>
                                        <!--mvp-nav-bot-left-->
                                        <div class="mvp-nav-bot-left-in">
                                            <div class="mvp-nav-menu left">
                                                <div class="menu-main-menu-container">
                                                    <ul id="menu-main-menu-1" class="menu">
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-7">
                                                            <a href="{% url 'index' %}">HOME</a>

                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39">
                                                            <a href="{% url 'category' 'Vijesti' %}">
                                                                Vijesti</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177 mvp-mega-dropdown">
                                                            <a
                                                                href="{% url 'category' 'Biznis' %}">Biznis</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-364 mvp-mega-dropdown">
                                                            <a href="{% url 'category' 'Lifestyle' %}">Lifestyle
                                                            </a>

                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175 mvp-mega-dropdown">
                                                            <a href="{% url 'category' 'Sport' %}">SPORTS
                                                            </a>

                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178 mvp-mega-dropdown">
                                                            <a href="{% url 'category' 'Auti' %}">Auti</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-335 mvp-mega-dropdown">
                                                            <a href="{% url 'source' 'PRVI' %}">PRVI</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-7">
                                                            <a href="#">More</a>
                                                            <ul class="sub-menu">
                                                                <li
                                                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-172">
                                                                    <a
                                                                        href="{% url 'category' 'Vijesti' %}">Vijesti</a>
                                                                    <ul class="sub-menu">
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453">
                                                                            <a
                                                                                href="{% url 'category' 'Dalmacija' %}">Dalmacija</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1963">
                                                                            <a
                                                                                href="{% url 'category' 'Slavonija' %}">Slavonija</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451">
                                                                            <a
                                                                                href="{% url 'category' 'Istra i Kvarner' %}">Istra
                                                                                i Kvarner</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450">
                                                                            <a
                                                                                href="{% url 'category' 'Kontinentalna' %}">Kontinentalna</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1901 current_page_item menu-item-1903">
                                                                            <a href="{% url 'category' 'Lika i gorski kotar' %}"
                                                                                aria-current="page">Lika i
                                                                                gorski kotar</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1923">
                                                                            <a
                                                                                href="{% url 'category' 'Zagreb' %}">Zagreb</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-170">
                                                                    <a href="{% url 'category' 'Sport' %}">Sport</a>
                                                                    <ul class="sub-menu">
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                                                            <a href="{% url 'category' 'Nogomet' %}">Nogomet</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298">
                                                                            <a href="{% url 'category' 'Košarka' %}">Košarka</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297">
                                                                            <a href="{% url 'category' 'Tenis' %}">Tenis</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-169">
                                                                    <a
                                                                        href="{% url 'category' 'Lifestyle' %}">LifeStyle</a>
                                                                    <ul class="sub-menu">
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-408">
                                                                            <a
                                                                                href="{% url 'category' 'Moda i ljepota' %}">Moda
                                                                                i ljepota</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-409">
                                                                            <a
                                                                                href="{% url 'category' 'Zdravlje' %}">Zdravlje</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410">
                                                                            <a
                                                                                href="{% url 'category' 'Mama' %}">Mama</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-411">
                                                                            <a
                                                                                href="{% url 'category' 'Kuharica' %}">Kuharica</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-412">
                                                                            <a
                                                                                href="{% url 'category' 'Kućni ljubimci' %}">Kućni ljubimci</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-413">
                                                                            <a
                                                                                href="{% url 'category' 'Putovanja' %}">Putovanja</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-414">
                                                                            <a
                                                                                href="{% url 'category' 'Dom i dizajn' %}">Dom i dizajn</a>
                                                                        </li>

                                                                    </ul>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893">
                                                                    <a href="{% url 'category' 'Glazba' %}">Glazba</a>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894">
                                                                    <a href="{% url 'category' 'Auti' %}">AUTI</a>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427">
                                                                    <a href="{% url 'category' 'Biznis' %}">BIZNIS</a>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1898">
                                                                    <a href="{% url 'category' 'SHOWBIZ' %}">SHOWBIZ</a>
                                                                    <ul class="sub-menu">
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                                                            <a href="{% url 'category' 'Film' %}">Film</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298">
                                                                            <a href="{% url 'category' 'Glazba' %}">Glazba</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297">
                                                                            <a href="{% url 'category' 'Kultura' %}">Kultura</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li
                                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-170">
                                                                    <a href="{% url 'category' 'TEHNOLOGIJA' %}">TEHNOLOGIJA</a>
                                                                    <ul class="sub-menu">
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                                                            <a href="{% url 'category' 'Znanost' %}">Znanost</a>
                                                                        </li>
                                                                        <li
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298">
                                                                            <a href="{% url 'category' 'Igre' %}">Igre</a>
                                                                        </li>

                                                                </li>
                                                                
                                                                

                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <!--mvp-nav-menu-->
                                        </div>
                                        <!--mvp-nav-bot-left-in-->
                                    </div>
                                    <!--mvp-nav-bot-left-out-->
                                </div>
                                <!--mvp-nav-bot-cont-->
                            </div>
                            <!--mvp-nav-bot-right-in-->
                            <div class="mvp-nav-bot-right left relative">
                                <span class="mvp-nav-search-but fa fa-search fa-2 mvp-search-click"></span>
                            </div>
                            <!--mvp-nav-bot-right-->
                        </div>
                        <!--mvp-nav-bot-right-out-->
                    </div>
                    <!--mvp-nav-bot-wrap-->
                </div>
                <!--mvp-main-nav-bot-cont-->
            </div>
            <!--mvp-main-box-->
        </div>
        <!--mvp-main-nav-bot-->
    </nav>
    <!--mvp-main-nav-wrap-->
</header>
