{% extends 'frontend/base.html' %}

{% block title %} Home {% endblock %}

{% load static %}

{% block static %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/owl-slider.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/custombox.min.css' %}"/>
<link rel="shortcut icon" href="{% static 'frontend/assets/images/favicon.png' %}" />

{% endblock %}

{% block body %} 

<style>

.banner-container {
    height: 3000px;
}

#sidead-banner {
    margin : 10px 0;
    position: sticky;
    top: 60px;
}

@media (max-width: 900px) {
.banner-container {
    height: unset;
}

.btn-home {
    margin : 8px;
  }
  
  #hd-mb {
    display: none!important;
    }
  .home-ul-card {
    margin: 11px 40px;
    flex: unset;
  }
}

#ad-banner {
  display: flex;
  justify-content: center;
}



</style>

<!-- End pushmenu -->
<div class="wrappage">
    
    
    {% include 'frontend/header.html' %}
    <div class="row" style="padding-top: 20px;    display: flex;
    justify-content: center;">
    {% if options.top_banner %}
        {{ options.top_banner | safe  }}
    {% else %}
    <img src="{% static 'frontend/assets/images/top banner.jpg' %}" alt="">
    {% endif %}
    </div>
    <div class="container">
        <div class="row" style="display: flex; margin-left: 15px;" id="hd-mb">
            <div class="home-ul-card">
            <ul class="pad-10">
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.24sata.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/24sata.png'); line-height: 25px;" title="24sata" alt="24sata"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">24sata</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://dnevnik.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/dnevnik.png'); line-height: 25px;" title="Dnevnik" alt="Dnevnik"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Dnevnik</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.dnevno.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/dnevno.png'); line-height: 25px;" title="dnevno" alt="Dnevno"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Dnevno</span></a></li>
            </ul>
            </div>
            <div class="home-ul-card">
            <ul class="pad-10">
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.index.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Index.png'); line-height: 25px;" title="Index" alt="Index"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Index</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.jutarnji.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Jutarnjilist.png'); line-height: 25px;" title="Jutarnji List" alt="Jutarnji List"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Jutarnji List</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://hr.n1info.com/" style="background-image: url('/static/frontend/assets/images/sponsors/n1.png'); line-height: 25px;" title="N1" alt="n1"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">N1</span></a></li>
            </ul>
            </div>
            <div class="home-ul-card">
            <ul class="pad-10">
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://net.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Nethr.png'); line-height: 25px;" title="Net"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Net</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.novilist.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Novilist.png'); line-height: 25px;" title="Novilist"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Novi List</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.poslovni.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Poslovni.jpg'); line-height: 25px;" title="Poslovni"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Poslovni</span></a></li>
            </ul>
            </div>
            <div class="home-ul-card">
            <ul class="pad-10">
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://reci.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/reci.png'); line-height: 25px;" title="Reci"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Reci</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://slobodnadalmacija.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/SlobDalmacija.png'); line-height: 25px;" title="Slobodnadalmacija"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Slobodnadalmacija</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.telegram.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Telegram.png'); line-height: 25px;" title="Telegram"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Telegram</span></a></li>
            </ul>
            </div>
            <div class="home-ul-card">
            <ul class="pad-10">
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.tportal.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/tportal.png'); line-height: 25px;" title="Tportal"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Tportal</span></a></li>
                <li class="li-home-style"> <a id="no-style-link" class="outside_img" target="_blank" class="" href="https://www.vecernji.hr/" style="background-image: url('/static/frontend/assets/images/sponsors/Vecernjilist.png'); line-height: 25px;" title="Večernji list"><span class="sponsors_img" style="line-height: 0; font-size : unset;"></span><span class="sponsors_name">Večernji list</span></a></li>
            </ul>
            </div>
        
            
        </div>
    </div>

    <div class="row" style="display: flex;
    justify-content: center;">
    <div class="home2-head box slide-owl-mobile nav-ver5">

    </div>
</div>

<div class="container">
    <div class="row" id="row-wraper">
        <button style="background: #333; color : #fff;" class="btn-home">Izvori</button></a>
        <a id="no-style-link" href="{% url 'source' 'Index' %}"><button class="btn-home"><img style="width: 21px; padding: 0 3px;" src="/static/frontend/assets/images/sponsors/Index.png" alt="Index "> Index</button> </a>
        <a class="sp2" id="no-style-link" href="{% url 'source' 'n1' %}"><button class="btn-home"><img style="width: 21px; padding: 0 3px;" src="/static/frontend/assets/images/sponsors/n1.png" alt="n1"> N1</button> </a>
    <a id="no-style-link" href="{% url 'source' 'net' %}"><button class="btn-home"><img style="width: 21px; padding: 0 3px;" src="/static/frontend/assets/images/sponsors/Nethr.png" alt="net">Net</button> </a>
    <a class="sp2" id="no-style-link" href="{% url 'source' '24Sata' %}"><button class="btn-home"><img style="width: 21px;" src="/static/frontend/assets/images/sponsors/24sata.png" alt="24Sata"> 24Sata</button> </a>
    <a id="no-style-link" href="{% url 'source' 'Jutarnji' %}"><button class="btn-home"><img style="width: 21px;" src="/static/frontend/assets/images/sponsors/Jutarnjilist.png" alt="Jutarnji "> Jutarnji List</button> </a>
    <a id="no-style-link" href="{% url 'source' 'Poslovni' %}"><button class="btn-home"><img style="width: 21px;" src="/static/frontend/assets/images/sponsors/Poslovni.jpg" alt="Poslovni">Poslovni</button> </a>

</div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-8">
    <div class="banner" style="margin: 0 85px;">
    {% if options.bill_board %}
            {{ options.bill_board | safe }}
    {% else %}
    <img src="{% static 'frontend/assets/images/billboard.jpg' %}" alt="">
    {% endif %}
    </div>
            <div class="title-v1" >
               <a href="{% url 'category' 'trending' %}"> <h3>TRENDING</h3></a>
                <div class="orther-link">
                    <ul>
                        <li><a onclick="randomCategory()" title="All">All</a></li>
                        <li><a onclick="getByCategory('LifeStyle')" title="Social">Life Style</a></li>
                        <li><a onclick="getByCategory('Biznis')"  title="Business">Business</a></li>
                        <li><a onclick="getByCategory('Hrvatska')"  title="Travel">Travel</a></li>
                        <li><a onclick="getByCategory('Nogomet')" title="Sports">Sports</a></li>
                    </ul>
                </div>
            </div>
            <!-- End title -->
            <div class="trending box space-30">
                <div id="news_feed_main" class="row">
                    
                </div>
            </div>
        <div class="banner" id="ad-banner" style="margin : 10px 0">
        {% if options.category_one %}
            {{ options.category_one | safe }}
        {% else %}
        <img src="{% static 'frontend/assets/images/category.jpg' %}" alt="">
        {% endif %}    
        </div>
        <div class="title-v1">
               <a id="no-style-link" href="{% url 'category' 'Vijesti' %}"> <h3>Vijesti</h3></a>
                <div class="orther-link">
                    <ul>
                        <li><a href="{% url 'source' 'Slobodnadalmacija' %}" title="Slobodnadalmacija"> Slobodnadalmacija</a></li>
                        <li><a href="{% url 'source' 'Index' %}" title="Index"> Index</a></li>
                        <li><a href="{% url 'source' 'Reci' %}" title="Reci"> Reci</a></li>
       
                    </ul>
                </div>
            </div>

            <div class="vijesti technnology box space-30">
               
            </div>
        <div class="banner" id="ad-banner" style="margin : 10px 0">
        
        {% if options.category_two %}
            {{ options.category_two | safe }}
        {% else %}
      
        <img src="{% static 'frontend/assets/images/category.jpg' %}" alt="">
        {% endif %}
        </div>
        <div class="title-v1">
                <a id="no-style-link" href="{% url 'category' 'Nogomet' %}"><h3>Nogomet</h3></a>
                <div class="orther-link">
                    <ul>
                        <li><a href="{% url 'source' 'Dnevno' %}" title="Dnevno">Dnevno</a></li>
                        <li><a href="{% url 'source' 'net' %}" title="net">Net</a></li>
                        <li><a href="{% url 'source' 'Tportal' %}" title="Tportal">Tportal</a></li>
       
                    </ul>
                </div>
            </div>

            <div id="Nogomet" class="technnology box space-30">
               
            </div>

        <div class="banner" id="ad-banner" style="margin : 10px 0">
        
        {% if options.category_three %}
            {{ options.category_three | safe }}
        {% else %}
        <img src="{% static 'frontend/assets/images/category.jpg' %}" alt="">
        {% endif %}    
        </div>
        <div class="title-v1">
               <a id="no-style-link" href="{% url 'category' 'Show' %}"> <h3>Show</h3></a>
                <div class="orther-link">
                    <ul>
                        <li><a href="{% url 'source' '24sata' %}" title="24Sata">24Sata</a></li>
                        <li><a href="{% url 'source' 'N1Info' %}" title="N1Info">N1Info</a></li>
                        <li><a href="{% url 'source' 'Novilist' %}" title="Novilist">Novilist</a></li>
       
                    </ul>
                </div>
            </div>

            <div id="tech_box" class="technnology box space-30">
               
            </div>

           

            
            <div class="box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-v1">
                            <h3>Svijet</h3>
                        </div>
                        <!-- End tile -->
         
                        <!-- End box -->
                        <div class="row size-16 Svijet_16">
                         
                        </div>
                    </div>
                    <!-- End col-md-6 -->
                    <div class="col-md-6">
                        <div class="title-v1">
                            <h3>Biznis</h3>
                        </div>
                        <!-- End tile -->
                     
                        <!-- End box -->
                        <div class="row size-16 Bizniz_16">
                           
                        </div>
                    </div>
                    <!-- End col-md-6 -->
                </div>
            </div>
           
        

        </div>

        <div class="col-md-4">
            <aside class="widget social" id="hg-extra">
            </aside>
            <aside class="widget popular">
                <h3 class="widget-title">MOST POPULAR</h3>
                <div class="banner" style="margin : 10px 0">
                    {% if options.home_sideAD %}
                        {{ options.home_sideAD | safe }}
                        {% else %}
                        <img class="img-responsive" src="{% static 'frontend/assets/images/widget-banner.jpg' %}" alt="banner">
                    {% endif %}
                    </div>
            
                <div class="content" id="popular_dynm">

                </div>
                <div class="banner-container">
                <div class="banner" id="sidead-banner">
                    {% if options.sidebarAD %}
                        {{ options.sidebarAD | safe }}
                    {% else %}
                        <img class="img-responsive" src="{% static 'frontend/assets/images/300x600.png' %}" alt="sidebar-banner">
                    {% endif %}
                </div>
            </div>
            </aside>
            </div>
    </div>
</div>





{% include 'frontend/footer.html' %}

</div>

<style>
 
</style>
<script>
    function updateDate(elem) {
       elem = elem.replace("+0100", "")
       elem = elem.replace("+0200", "") 
       elem = elem.replace("+0000", "") 
       elem = elem.replace("000Z", "") 
       elem = elem.replace("Mon", "") 
       elem = elem.replace("Tue", "") 
       elem = elem.replace("Wed", "") 
       elem = elem.replace("Thu", "") 
       elem = elem.replace("Fri", "") 
       elem = elem.replace("Sun", "") 
       elem = elem.replace("Sat", "") 
       elem = elem.replace("Jan", "1") 
       elem = elem.replace("Feb", "2") 
       elem = elem.replace("Apr", "3") 
       elem = elem.replace("Mar", "4") 
       elem = elem.replace("May", "5") 
       elem = elem.replace("Jun", "6") 
       elem = elem.replace("Jul", "7") 
       elem = elem.replace("Aug", "8") 
       elem = elem.replace("Sep", "9") 
       elem = elem.replace("Oct", "10") 
       elem = elem.replace("Nov", "11") 
       elem = elem.replace("Dec", "12") 
       elem = elem.replaceAll(" ", "/") 
       elem = elem.replace("/01:", " 01:") 
       elem = elem.replace("/02:", " 02:") 
       elem = elem.replace("/03:", " 03:") 
       elem = elem.replace("/04:", " 04:") 
       elem = elem.replace("/05:", " 05:") 
       elem = elem.replace("/06:", " 06:") 
       elem = elem.replace("/07:", " 07:") 
       elem = elem.replace("/08:", " 08:") 
       elem = elem.replace("/09:", " 09:") 
       elem = elem.replace("/10:", " 10:") 
       elem = elem.replace("/11:", " 11:") 
       elem = elem.replace("/12:", " 12:") 
       elem = elem.replace("/13:", " 13:") 
       elem = elem.replace("/14:", " 14:") 
       elem = elem.replace("/15:", " 15:") 
       elem = elem.replace("/16:", " 16:") 
       elem = elem.replace("/17:", " 17:") 
       elem = elem.replace("/18:", " 18:") 
       elem = elem.replace("/19:", " 19:") 
       elem = elem.replace("/20:", " 20:") 
       elem = elem.replace("/21:", " 21:") 
       elem = elem.replace("/22:", " 22:") 
       elem = elem.replace("/23:", " 23:") 
       elem = elem.replace("/24:", " 24:") 
       elem = elem.slice(3, -1) 
       
       return elem
    }


    fetch(`rss/randomNewsCategory/2/Biznis`)
    .then(response => response.json())
    .then(data => {
        info = data['feed']
        elm = document.querySelector(".Bizniz_16")
        for (var i = 0; i < info.length; i ++) {
            elm.innerHTML += `
            <div class="col-md-6 col-sm-6">
                                <div class="post-item ver3 overlay">
                                    <div class="wrap-images">
                                        <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                                        <div class="tag">
                                            <p class="date"><a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h2><a rel="nowfollow" href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                                        
                                    </div>
                                </div>
                                <!-- End item -->
                            </div>
            `
        }
    })
    fetch(`rss/randomNewsCategory/2/Svijet`)
    .then(response => response.json())
    .then(data => {
        info = data['feed']
        elm = document.querySelector(".Svijet_16")
        for (var i = 0; i < info.length; i ++) {
            elm.innerHTML += `
            <div class="col-md-6 col-sm-6">
                                <div class="post-item ver3 overlay">
                                    <div class="wrap-images">
                                        <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                                        <div class="tag">
                                            <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h2><a rel="nowfollow" href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
        
                                    </div>
                                </div>
                                <!-- End item -->
                            </div>
            `
        }
    })
    fetch(`rss/randomNewsCategory/1/Biznis`)
    .then(response => response.json())
    .then(data => {
        info = data['feed']
        elm = document.querySelector(".Biznis")
        for (var i = 0; i < info.length; i ++) {
        elm.innerHTML += `
        <div class="post-item ver3 overlay max-width-700">
                                <div class="wrap-images">
                                    <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                                    <div class="tag">
                                        <p class="date"> ${info[i]['source']}  |  ${info[i]['category']} |  ${updateDate(info[i]['pub_date'])}</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <h2><a rel="nowfollow" href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                                    <p>${info[i]['source']}</p>
                                    <a class="read-more" href="${info[i]['link']}" title="pročitaj više">pročitaj više</a>
                                </div>
                            </div>
        `
        }
    })
    fetch(`rss/randomNewsCategory/1/Nogomet`)
    .then(response => response.json())
    .then(data => {
        info = data['feed']
        elm = document.querySelector(".footer_news")
        for (var i = 0; i < info.length; i ++) {
        elm.innerHTML += `
        <div class="post-item ver3 overlay max-width-700">
                                <div class="wrap-images">
                                    <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img style="width:100%; height:230px !important" class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                                    <div class="tag">
                                        <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <h2><a rel="nowfollow" href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                                    
                                    <a class="read-more" href="${info[i]['link']}" >pročitaj više</a>
                                </div>
                            </div>
        `
        }
    })
    fetch(`rss/randomNewsCategory/1/Svijet`)
    .then(response => response.json())
    .then(data => {
        info = data['feed']
        elm = document.querySelector(".Svijet")
        for (var i = 0; i < info.length; i ++) {
        elm.innerHTML += `
        <div class="post-item ver3 overlay max-width-700">
                                <div class="wrap-images">
                                    <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img style="width:100%; height:230px !important" class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                                    <div class="tag">
                                        <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <h2><a href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                                    <a rel="nowfollow" class="read-more" href="${info[i]['link']}" title="pročitaj više">pročitaj više</a>
                                </div>
                            </div>
        `
        }
    })
        fetch(`rss/getNewsCategory/4/show`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector("#tech_box")
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="post-item ver2">
                    <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                    <div class="text">
                        <h2><a href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                        <div class="tag">
                            <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                             
                        </div>
                        <a rel="nowfollow" class="read-more" href="${info[i]['link']}" title="pročitaj više">pročitaj više</a>
                    </div>
                </div>
            `
            }
        })
        fetch(`rss/getNewsCategory/4/Nogomet`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector("#Nogomet")
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="post-item ver2">
                    <a class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                    <div class="text">
                        <h2><a rel="nowfollow" href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                        <div class="tag">
                            <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                             
                        </div>
                        <a rel="nowfollow" class="read-more" href="${info[i]['link']}" title="pročitaj više">pročitaj više</a>
                    </div>
                </div>
            `
            }
        })
        fetch(`rss/getNewsCategory/4/vijesti`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector(".vijesti")
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="post-item ver2">
                    <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                    <div class="text">
                        <h2><a href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                        <div class="tag">
                            <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                             
                        </div>
                        <a rel="nowfollow" class="read-more" href="${info[i]['link']}" title="pročitaj više">pročitaj više</a>
                    </div>
                </div>
            `
            }
        })
        fetch(`rss/getNewsCategory/4/Nogomet`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector(".footer_details")
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="post-item ver2">
                    <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                    <div class="text">
                        <h2><a rel="nowfollow" href="${info[i]['link']}" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                        
                        <div class="tag">
                            <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                             
                        </div>
                        <a rel="nowfollow" class="read-more" href="${info[i]['link']}" title="pročitaj više">pročitaj više</a>
                    </div>
                </div>
            `
            }
        })
    
        


        fetch(`/rss/randomNews/5`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector("#popular_dynm")
            for ( var i = 0; i < info.length; i ++) { 
            if (i == 0) {
                cls = "post-item ver2"
            }
            else {
                cls = "post-item ver2 "
            }
                home_head.innerHTML += `
            <div class="${cls}">
                                <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="images"></a>
                                <div class="text">
                                    <h2><a rel="nowfollow" href="" title="${info[i]['title']}">${info[i]['title']}</a></h2>
                                    
                                    <div class="tag">
                                        <p class="date"><a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                                    </div>
                                </div>
                            </div>
            ` 
            
        }
        })

        fetch(`/rss/randomNews/4`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector("#news_feed_main")
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="col-md-6 col-sm-6 space-30">
                        <div class="post-item ver4 overlay-v2 cat-4" style="height: 210px; overflow: hidden;">
                            <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                          
                        
                        </div>
                        <div>
                            <a rel="nowfollow" class="wrap dsg" href="${info[i]['link']}"><h4>${info[i]['title']}</h4></a>
                            <small class="wrap" class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</small>
                        </div>
                        <!-- End item -->
                    </div>
            `
                }
        })

        fetch(`/rss/latest/3`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector(".home2-head")
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="col-md-4 col-sm-4" >
            <div class="post-item ver1 cat-3 overlay">
                <a rel="nowfollow" class="images" href="#" title="${info[i]['title']}" alt="${info[i]['title']}"><img id="img-head-news" class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                
            </div>

                <a rel="nowfollow" class="wrap dsg" href="${info[i]['link']}"><h4>${info[i]['title']}</h4></a>
                <small class="wrap" class="date"><a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</small>
            </div>
<!-- End item -->
        </div>
            ` 
    }
        })
    
function getByCategory(cat) {
    fetch(`rss/getNewsCategory/4/${cat}`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector("#news_feed_main")
            home_head.innerHTML = ""
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="col-md-6 col-sm-6 space-30">
                        <div class="post-item ver4 overlay-v2 cat-4" style="height: 210px; overflow: hidden;">
                            <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                         
                        </div>
                        <div>
                            <a rel="nowfollow" class="wrap dsg" href="${info[i]['link']}"><h4>${info[i]['title']}</h4></a>
                            <small class="wrap" class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])} </small>
                        </div>
                        <!-- End item -->
                    </div>
            `
                }
        })
}

function randomCategory() {
    fetch(`/rss/randomNews/4`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            home_head = document.querySelector("#news_feed_main")
            home_head = ""
            for ( var i = 0; i < info.length; i ++) { 
            home_head.innerHTML += `
            <div class="col-md-6 col-sm-6 space-30">
                        <div class="post-item ver4 overlay-v2 cat-4" style="height: 210px; overflow: hidden;">
                            <a rel="nowfollow" class="images" href="${info[i]['link']}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                         
                        </div>
                        <div>
                            <a rel="nowfollow" class="wrap dsg" href="${info[i]['link']}"><h4>${info[i]['title']}</h4></a>
                            <small class="wrap" class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</small>
                        </div>
                        <!-- End item -->
                    </div>
            `
                }
        })
}

</script>



<script type="text/javascript" src="{% static 'frontend/assets/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/engo-plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/custombox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/legacy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/store.js' %}"></script>



{% endblock %}