{% load static %}
<nav class="mvp-fly-nav-menu left relative">
    <div class="menu-main-menu-container">
        <ul id="menu-main-menu" class="menu">
            <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7">
                <a href="{% url 'index' %}">HOME</a>

            </li>
            
            <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39">
                <a href="{% url 'category' 'Vijesti' %}">Vijesti</a></li>
            <li id="menu-item-177"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a
                    href="{% url 'category' 'Biznis' %}">Biznis</a></li>
            <li id="menu-item-364"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-364"><a
                    href="{% url 'category' 'Lifestyle' %}">LifeStyle</a></li>
            <li id="menu-item-175"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a
                    href="{% url 'category' 'Sport' %}">Sports</a></li>
            <li id="menu-item-178"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175"><a
                    href="{% url 'source' 'PRVI' %}">PRVI</a></li>
                    <li id="menu-item-335"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-7">
                    <a> More</a>
                    <ul class="sub-menu">
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-172">
                            <a href="{% url 'category' 'Vijesti' %}">Vijesti</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453">
                                    <a href="{% url 'category' 'Damacija' %}">Damacija</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1963">
                                    <a href="{% url 'category' 'Slavonija' %}">Slavonija</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451">
                                    <a href="{% url 'category' 'Istra i Kvarner' %}">Istra i Kvarner</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450">
                                    <a href="{% url 'category' 'Lika i gorski kotar' %}">Lika i gorski kotar</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1923">
                                    <a href="{% url 'category'  'Zagreb' %}">Zagreb</a>
                                </li>
                            </ul>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-169">
                            <a href="{% url 'category' 'Lifestyle' %}">LifeStyle</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-408">
                                    <a href="{% url 'category' 'Moda i ljepota' %}">Moda i ljepota</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-409">
                                    <a href="{% url 'category' 'Zdravlje' %}">Zdravlje</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410">
                                    <a href="{% url 'category' 'Mama'%}">Mama</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-411">
                                    <a href="{% url 'category' 'Kuharica' %}">Kuharica</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-412">
                                    <a href="{% url 'category' 'Kućni ljubimci' %}">Kućni ljubimci</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-413">
                                    <a href="{% url 'category' 'Putovanja' %}">Putovanja</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-414">
                                    <a href="{% url 'category' 'Dom i dizajn' %}">Dom i dizajn</a>
                                </li>

                            </ul>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-170">
                            <a href="{% url 'category' 'Tehnologija' %}">Tehnologija</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                    <a href="{% url 'category' 'Tehnologija' %}">Znanost</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298">
                                    <a href="{% url 'category' 'Tehnologija' %}">Igre</a>
                                </li>
                            </ul>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-170">
                            <a href="{% url 'category' 'Sport' %}">Sport</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                    <a href="{% url 'category' 'Nogomet' %}">Nogomet</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298">
                                    <a href="{% url 'category' 'Košarka' %}">Košarka</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297">
                                    <a href="{% url 'category' 'Tenis' %}">Tenis</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893">
                            <a href="{% url 'category' 'Sex' %}">SEX</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894">
                            <a href="{% url 'category' 'Auti' %}">AUTI</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427">
                            <a href="{% url 'category' 'Biznis' %}">Biznis</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1898">
                            <a href="{% url 'category' 'Showbiz' %}">Showbiz</a>
                        </li>
                    </ul>
                </li>
        </ul>
    </div>
</nav>