{% load static %}
<nav class="mvp-fly-nav-menu left relative">
    <div class="menu-main-menu-container">
        <ul id="menu-main-menu" class="menu">
            <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7">
                <a href="{% url 'index' %}">HOME</a>

            </li>
            
            <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39">
                <a href="{% url 'category' 'Vijesti' %}">Vijesti</a></li>
            <li id="menu-item-177"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a
                    href="{% url 'category' 'Biznis' %}">Biznis</a></li>
            <li id="menu-item-364"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-364"><a
                    href="{% url 'category' 'Lifestyle' %}">LifeStyle</a></li>
            <li id="menu-item-175"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a
                    href="{% url 'category' 'Sport' %}">Sports</a></li>
            <li id="menu-item-175"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a
                    href="{% url 'category' 'Glazba' %}">Glazba</a></li>
            <li id="menu-item-178"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175"><a
                    href="{% url 'source' 'PRVI' %}">PRVI</a></li>
                    <li id="menu-item-335"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-7">
                    <a> VIŠE</a>
                    <ul class="sub-menu">
                     
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-170">
                            <a href="{% url 'category' 'Tehnologija' %}">Tehnologija</a>
                        
                        </li>
                       
                        
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894">
                            <a href="{% url 'category' 'Auti' %}">Auti</a>
                        </li>
                     
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1898">
                            <a href="{% url 'category' 'Showbiz' %}">Showbiz</a>
                        </li>
                    </ul>
                </li>
        </ul>
    </div>
</nav>