{% extends 'frontend/base.html' %}

{% block title %} Home {% endblock %}

{% load static %}

{% block static %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/owl-slider.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/custombox.min.css' %}"/>
<link rel="shortcut icon" href="{% static 'frontend/assets/images/favicon.png' %}" />

{% endblock %}

{% block body %} 
<div class="wrappage">
    
    
    {% include 'frontend/header.html' %}
    <div style="text-align: center;">
        <h1 class="single-main-heading">{{ news.title }}</h1>
    </div>
    <div class="head-single">
        <div class="blog-post-images" style="text-align: center;">
            <a href="#" title="Post"><img class="img-responsive" src="{{ news.img }}" alt="banner"></a>
        </div>
    </div>
   <div class="container" style="max-width:600px; margin: 0 auto;">
    <div class="row">
        <div class="col-md-12">
            <div class="single-post">
                <div class="blog-post-item cat-1 box">
                    <div class="content">
                        <div class="tag">
                            <p class="label">{{ news.category}}</p>
                            <p class="date"><i class="fa fa-clock-o"></i>{{ news.time }}</p>
                      
                        </div>
                    <div>
                        {{ news.news_context | safe }}
                    </div>
                  
                

                </div>
            </div>
            <!-- End signle-post -->
        </div>
    
    </div>
    </div>
   </div>
    {% include 'frontend/footer.html' %}

</div>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/engo-plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/custombox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/legacy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/store.js' %}"></script>
{% endblock %}