{% load static %}

<div class="slider">

    <div class="slide">
        <a href="https://www.24sata.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/24Sata.png' %}" alt="24Sata" class="img-responsive" />
            <p class="my-font">24Sata</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://www.index.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/Index.png' %}" alt="Index" class="img-responsive" />
            <p class="my-font">Index</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://dnevnik.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/dnevnik.png' %}" alt="Dnevnik" class="img-responsive" />
            <p class="my-font">Dnevnik</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://www.dnevno.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/dnevno.png' %}" alt="Dnevno" class="img-responsive" />
            <p class="my-font">Dnevno</p>
        </a>
    </div>
    <div class="slide">
        <a href="Jutarnji List">
            <img src="{% static 'frontend/assets/images/logo-icon/JutarnjiList.png' %}" alt="Jutarnji List" class="img-responsive" />
            <p class="my-font">Jutarnji List</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://n1.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/n1.png' %}" alt="N1" class="img-responsive" />
            <p class="my-font">N1</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://net.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/Nethr.png' %}" alt="Net" class="img-responsive" />
            <p class="my-font">Net</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://novilist.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/Novilist.png' %}" alt="Novilist" class="img-responsive" />
            <p class="my-font">Novi List</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://www.poslovni.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/Poslovni.jpg' %}" alt="Novilist" class="img-responsive" />
            <p class="my-font">Poslovni</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://reci.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/reci.png' %}" alt="Reci" class="img-responsive" />
            <p class="my-font">Reci</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://slobodnadalmacija.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/SlobDalmacija.png' %}" alt="SlobDalmacija" class="img-responsive" />
            <p class="my-font">SlobDalmacija</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://www.telegram.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/Telegram.png' %}" alt="Telegram" class="img-responsive" />
            <p class="my-font">Telegram</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://www.tportal.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/tportal.png' %}" alt="Tportal" class="img-responsive" />
            <p class="my-font">Tportal</p>
        </a>
    </div>
    <div class="slide">
        <a href="https://www.vecernji.hr/">
            <img src="{% static 'frontend/assets/images/logo-icon/Vecernjilist.png' %}" alt="Vecernji List" class="img-responsive" />
            <p class="my-font">Vecernji list</p>
        </a>
    </div>

</div>