{% extends 'frontend/base.html' %}

{% load static %}

{% block title %} {{ main_item }} {% endblock %}

{% block static %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/owl-slider.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/vendor/custombox.min.css' %}"/>

<link rel="shortcut icon" href="{% static 'frontend/assets/images/favicon.png' %}" />

{% endblock %}


{% block body %}
<div class="wrappage">
    {% include 'frontend/header.html' %}
    <div class="row" style="    display: flex;
    justify-content: center;">
    <div class="home2-head box slide-owl-mobile nav-ver5">

    </div>
    </div>



    <div class="container">
    <div class="row">
        <div class="col-md-8">
        <div class="technnology box space-30">
               
    </div>
    <div class="mid_button">
        <button id="more_btn" onclick="getByCategories()">More</button>
    </div>
</div>
<div class="col-md-4">
    <aside class="widget">
        <div class="banner">
            <img class="img-responsive" src="{% static 'frontend/assets/images/widget-banner.jpg' %}" alt="banner">
        </div>
    </aside>
</div>
</div>
</div>

    {% include 'frontend/footer.html' %}

</div>

<script>
    function updateDate(elem) {
        if (elem != ""  && elem != null) {
       elem = elem.replace("+0100", "")
       elem = elem.replace("+0200", "") 
       elem = elem.replace("+0000", "") 
       elem = elem.replace("000Z", "") 
       elem = elem.replace("Mon", "") 
       elem = elem.replace("Tue", "") 
       elem = elem.replace("Wed", "") 
       elem = elem.replace("Thu", "") 
       elem = elem.replace("Fri", "") 
       elem = elem.replace("Sun", "") 
       elem = elem.replace("Sat", "") 
       elem = elem.replace("Jan", "1") 
       elem = elem.replace("Feb", "2") 
       elem = elem.replace("Apr", "3") 
       elem = elem.replace("Mar", "4") 
       elem = elem.replace("May", "5") 
       elem = elem.replace("Jun", "6") 
       elem = elem.replace("Jul", "7") 
       elem = elem.replace("Aug", "8") 
       elem = elem.replace("Sep", "9") 
       elem = elem.replace("Oct", "10") 
       elem = elem.replace("Nov", "11") 
       elem = elem.replace("Dec", "12") 
       elem = elem.replaceAll(" ", "/") 
       elem = elem.replace("/01:", " 01:") 
       elem = elem.replace("/02:", " 02:") 
       elem = elem.replace("/03:", " 03:") 
       elem = elem.replace("/04:", " 04:") 
       elem = elem.replace("/05:", " 05:") 
       elem = elem.replace("/06:", " 06:") 
       elem = elem.replace("/07:", " 07:") 
       elem = elem.replace("/08:", " 08:") 
       elem = elem.replace("/09:", " 09:") 
       elem = elem.replace("/10:", " 10:") 
       elem = elem.replace("/11:", " 11:") 
       elem = elem.replace("/12:", " 12:") 
       elem = elem.replace("/13:", " 13:") 
       elem = elem.replace("/14:", " 14:") 
       elem = elem.replace("/15:", " 15:") 
       elem = elem.replace("/16:", " 16:") 
       elem = elem.replace("/17:", " 17:") 
       elem = elem.replace("/18:", " 18:") 
       elem = elem.replace("/19:", " 19:") 
       elem = elem.replace("/20:", " 20:") 
       elem = elem.replace("/21:", " 21:") 
       elem = elem.replace("/22:", " 22:") 
       elem = elem.replace("/23:", " 23:") 
       elem = elem.replace("/24:", " 24:") 
       elem = elem.slice(3, -1) 
       
       return elem
        }
    else {
    return ""
    }
    }


    page_no = 1
    category = '{{ main_item }}'
    function getByCategories() {
    fetch(`/rss/newsSource/${category}`, {
        method : "POST",
        body : JSON.stringify({
            "page_no" : page_no
        })
    })
        .then(response => response.json())
        .then(data => {
            if (!data['next']) {
                document.querySelector("#more_btn").style.display = 'none';
            }
            info = data['feed']
            
            for ( var i = 0; i < info.length; i ++) { 
            if ("link" in info[i]) {
                link = info[i]['link']
                rel = `rel="nofollow"`
            }
            else {
                link = `/news/${info[i]['id']}`
                rel = `rel=""`
            }
                if (page_no == 1 && i < 3) {
                
                home_head = document.querySelector(".home2-head")
                home_head.innerHTML += `
                <div class="col-md-4 col-sm-4"  style="z-index:55;">
            <div class="post-item ver1 cat-3 overlay">
                <a ${rel} class="images" href="${link}" title="${info[i]['title']}" alt="${info[i]['title']}"><img id="img-head-news" class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                
            </div>

                <a ${rel} class="wrap dsg" href="${link}"><h4>${info[i]['title']}</h4></a>
                <small class="wrap" class="date"><a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</small>
            </div>
<!-- End item -->
        </div>
            ` 
            }
            else { 
                page_no += 1
                home_head = document.querySelector(".technnology")
              
                home_head.innerHTML += `
                <div class="post-item ver2 hg200">
                        <a class="images" href="${link}" title="${info[i]['title']}" alt="${info[i]['title']}"><img class='img-responsive' src="${info[i]['img']}" alt="${info[i]['title']}"></a>
                        <div class="text">
                            <h2><a href="${link}" title="title">${info[i]['title']}</a></h2>
                            <div class="tag">
                                <p class="date"> <a id="no-style-link" href="/source/${info[i]['source']}"> ${info[i]['source']} </a> | <a id="no-style-link" href="/category/${info[i]['category']}"> ${info[i]['category']} </a> |  ${updateDate(info[i]['pub_date'])}</p>
                                
                            </div>
                            <a class="read-more" href="${link}" title="pročitaj više">pročitaj više</a>
                        </div>
                    </div>
                `
                }
                }
                page_no += 1
        })
    }
    getByCategories()
</script>

<script type="text/javascript" src="{% static 'frontend/assets/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/engo-plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/custombox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/legacy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets/js/store.js' %}"></script>

{% endblock %}